{
	"endOfLine": "crlf",
	"printWidth": 140,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": ["^@/(.*)$", "^\\.(.*)$", "^next(.*)$", "^@(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."]
}
